@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

:root {
  --background-black: rgb(19, 19, 19);
  --blue-color: rgb(37, 92, 238);
  --white-color: rgb(255, 255, 255);
  --small-text-color: rgb(217, 217, 217);
  --section-black: rgb(38, 38, 38);
}
